<% provide(:title," | Perfil de #{@user.name}")%>

<div class="row">
    <div id="header-profile" class="span4">
      <!--Sidebar content-->
      <div class="row ">
        <div class="span2">
          <img id="avatar" src="<%= @user.avatar.url(:thumb) %>" />
        </div>
        <div class="span2">
          <% if @user.lastname.nil? %>
          <h5><%= @user.name %></h5>
          <p>@<%= @user.name.downcase %></p>
          <% else %>
          <h5><%= @user.name+" "+@user.lastname%></h5>
          <p>@<%= @user.name.downcase %></p>
          <% end %>
          
        </div>
      </div>

      <div class="row">
        <div class="span2 offset 1">
          <h5>Biografía</h5>
          <p><%= @user.bio %></p>
        </div>
      </div>
      
    </div>
    <div class="span7">
      <ul class="grid cs-style-3">

        <% if @microcuentos != nil %>
          <% @microcuentos.each do |microcuento| %>

          <li>
            <figure>
            <% if microcuento.portada_file_name %>
              <img src="<%=microcuento.portada.url(:medium) %>" alt="">
            <%else %>
              <img src="/assets/150x200.gif" alt="">
            <% end %>
            <figcaption>
            <h5><%=microcuento.title%></h5>
            <span>Autor: <%= microcuento.user.name %></span>
            <a href="/microcuentos/<%=microcuento.id%>">Leer</a>
            </figcaption>
            </figure>
          </li>

          <% end %>
        <% else %>

          <p> No hay microcuentos :(</p>

        <% end %>

      </ul>
    </div>
</div>

