<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @microcuento.title %>
</p>

<p>
  <b>User:</b>
  <%= @microcuento.user_id %>
</p>

<p>
  <b>Likes:</b>
  <%= @microcuento.likes %>
</p>

<p>
  <b>Content:</b>
  <%= @microcuento.content %>
</p>


<%= link_to 'Edit', edit_microcuento_path(@microcuento) %> |
<%= link_to 'Back', microcuentos_path %>

<H4>Comentarios</H4>
   <div id="comentarios">
   		<%=render :partial => @microcuento.comentarios%>
   	</div>
   	<%= simple_form_for [@microcuento, Comentario.new] do |f| %>
   	<p>
   		<%= f.input :contenido, :label =>"Nuevo Comentario",as: :text, input_html:
   		 { rows: "3" } %>
   	</p>
   	<p><%=f.submit"Comentar", class:"btn btn-primary"%>
   	</p>
   	<% end %>

   	</div>
   	</div> 