<!DOCTYPE html>
<html>
<head>
  <title>Microcuentos<%= yield(:title)%></title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar">
  <div class="navbar-inner">
    <a id="titulo" class="brand" href="/">Microcuentos</a>
    <ul class="nav">
      <li class="active"><a href="/">.inicio</a></li>
      <% if user_signed_in?%>
        <li><a href="/microcuentos/new">.escribir</a></li>
        <li><a href="#" >@<%= current_user.name %></a>
        <ul>
          <li><a href="/users/<%= current_user.id %>"><i class="icon-user"></i> Perfil</a></li>
          <li><a href="/users/edit"><i class="icon-cog"></i> Editar cuenta</a></li>
          <li><a href="/users/sign_out"><i class="icon-off"></i> Cerrar sesión</a></li>
        </ul>
        </li>
        <% else %>
        <li><a href="#" id="ingresar">.entrar</a></li>
        <li><a href="#signup-form" class="modal-form signup">.únete</a></li>
        <% end %>
    </ul>
  </div>
  </div>


<%= yield %>


    <!-- LOGIN POPOVER -->
    <div id="login-form" class="" style="display: none">
      <form class="user-form" action="/users/sign_in" method="POST">
        <h2>Iniciar sesión</h2>
        <a href="/auth/facebook" class="btn facebook">Iniciar sesión con Facebook</a>
        <div class="divider"><span class="dashed-line"></span>ó<span class="dashed-line"></span></div>
        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div><%= f.label 'Correo electrónico' %><br />
          <%= f.email_field :email, :autofocus => true %></div>

          <div><%= f.label 'Contraseña' %><br />
          <%= f.password_field :password %></div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label 'Recordarme' %></div>
          <% end -%>

          <div><%= f.submit "Entrar", :class => 'submit btn cta'  %></div>
        <% end %>
         
        </form>
    </div>

    <!-- SIGN UP FORM MODAL -->
    <form id="signup-form" class="mfp-hide white-popup-block zoom-anim-dialog user-form" action="/users" method="POST">
      <h2>Únete a nosotros</h2>
      <a href="/auth/facebook" class="btn facebook">Registrarse con Facebook</a>
      <!--<a href="/auth/twitter" class="btn twitter">Registrarse con Twitter</a> 
      <a href="#" class="btn google">Registrarse con Google+</a> -->

      <div class="divider"><span class="dashed-line"></span>ó<span class="dashed-line"></span></div>
        
      <input id="user_name" type="text" name="user[name]" class="name" maxlength="50" pattern="^.+$" required placeholder="Nombre" />

      <input id="user_email" type="email" name="user[email]" class="email" placeholder="Correo electrónico" maxlength="320" pattern="^[a-z0-9!#$%\x26'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%\x26'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?$" required />
   
      <input id="user_password" type="password" name="user[password]" placeholder="Contraseña" class="password" title="Can contain any character. The length may vary between eigth and hundred characters" maxlength="100" pattern=".{8,100}" required />
   
      <input id="signup-button" type="submit" class="submit btn cta" value="Registrarse" />

      <div class="form-text">Al hacer clic en 'Registrarse' estarás de acuerdo con nuestros <a href="#">Términos de servicio</a> y <a href="#">Política de privacidad</a>.</div>
       
    </form>

  
  <footer>

  <!--<img src="/assets/logo-footer.png" alt="bonito"  class="footer-logo"/>
  <p class="footer-text"></p> -->
  <div class="row">
    <div class="span2 offset10">
        <!-- Social Icons -->
      <div class="social-icons">
        <a href="#"><img alt="Twitter" src="/assets/twitter.png" /></a>
        <a href="#"><img alt="Youtube" src="/assets/youtube.png" /></a>
        <a href="#"><img alt="Skype" src="/assets/skype.png" /></a>
        <a href="#"><img alt="Facebook" src="/assets/facebook.png" /></a>
      </div>
      <!-- Social Icons End -->
    </div>
  </div>
      
  </footer>

</div>

  <%= javascript_include_tag "application" %>
</body>
</html>

